@import url("https://fonts.googleapis.com/css2?family=BioRhyme&family=Open+Sans&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital@0;1&display=swap");

font-family: "Open Sans", sans-serif;

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: rgb(45, 45, 45);
  min-height: 10vh;
  margin-top: 6px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 6px solid white;
}

.App-header a {
  color: white;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Sidebar {
  box-sizing: border-box;
  width: 19%;
  display: inline-block;
  float: left;
  text-align: left;
  padding: 1rem;
  padding-bottom: 2rem;
  min-height: 80vh;
  background: rgb(45, 45, 45);
  border: 6px solid white;
  color: white;
  font-family: "Roboto", sans-serif;
}

.Main {
  box-sizing: border-box;
  padding: 1rem;
  padding-left: 3rem;
  width: 81%;
  display: inline-block;
  text-align: left;
  background: rgb(45, 45, 45);
  border: 6px solid white;
  color: white;
  font-family: "Roboto", sans-serif;
}

.Main ul {
  list-style: none;
  padding: 0;
}

.Note {
  float: left;
  display: block;
  box-sizing: border-box;
  padding: 0.3rem;
  margin: 0.2rem;
  border: 1px solid lightgray;
  font-family: "Open Sans", sans-serif;
  width: 250px;
  box-shadow: 5px 5px 5px white;
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: rgb(45, 45, 45);
}

.folder.selected {
  color: rgb(200, 120, 120);
  font-weight: bold;
}

.plusIcon {
  height: 32px;
  width: 32px;
}

div {
  width: 900px;
  margin: 0 auto;
  overflow: auto;
}

.noteIcon {
  background-position: center center;
  background-size: auto;
  height: 1.75em;
  width: 1.75em;
  float: left;
  margin: 10px;
  border: 2px;
}

.folderIcon {
  position: left left;
  background-size: auto;
  height: 1.75em;
  width: 1.75em;
  background-repeat: no-repeat;
  float: left;
  margin: 10px;
  border: 2px solid black;
}

.deleteButton {
  height: 32px;
  width: 32px;
  background: transparent;
  border: none !important;
  font-size: 0;
}

.deleteButtonContainer {
  background: rgb(200, 120, 120);
}

/* https://designshack.net/articles/css/5-simple-and-practical-css-list-styles-you-can-copy-and-paste/ */
